// COLORS
$color1: hsl(322, 100%, 66%);
$color2: hsl(265, 100%, 66%);
$ntrl-blue: hsl(214, 64%, 98%);
$ntrl-gray-blue: hsl(208, 11%, 55%);
$ntrl-dark-cyan: hsl(192, 100%, 9%);

// mixins
@mixin big {
  @media (min-width: 800px) {
    @content;
  }
}
