@import "./variables";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: inherit;
}

body {
  font-size: 18px;
  background: $ntrl-blue;
  font-family: "Open Sans", "sans-serif";
  color: $ntrl-dark-cyan;
  line-height: 1.5;
  overflow-x: hidden;
  // ! remove it
  margin-bottom: 240px;
}

button {
  cursor: pointer;
}

h1,
h2,
h3 {
  font-family: "Poppins", "Open Sans", "sans-serif";
}

h1 {
  font-size: 26px;
}

h2 {
  font-size: 20px;
}

// header
.header {
  max-width: 1050px;
  padding: 25px 0;
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: 0 auto;
  align-items: center;

  &__brand {
    width: 120px;

    @include big {
      width: 150px;
    }
  }
  &__cta {
    border: 0;
    font-size: 12px;
    font-weight: 600;
    background: white;
    box-shadow: 0 3px 17px -5px rgba(0, 0, 0, 0.1);
    color: $color1;
    padding: 5px 20px;
    border-radius: 4px;

    @include big {
      padding: 8px 40px;
    }
  }
}

// masthead
.masthead {
  width: 80%;
  max-width: 600px;
  margin: 0 auto;
  text-align: center;
  margin-top: 40px;

  @include big {
    margin-top: 60px;
  }

  &__img {
    width: 100%;
    margin-bottom: 20px;

    @include big {
      margin-bottom: 50px;
    }
  }

  &__content {
    &-title {
      margin-bottom: 25px;
    }
    &-description {
      color: $ntrl-gray-blue;
      font-size: 16px;
      margin-bottom: 25px;
    }
    &-cta {
      @include btn;
    }
  }
}

// features
.users {
  max-width: 1050px;
  display: flex;
  flex-flow: column;
  width: 90%;
  margin: 180px auto;
  align-items: center;

  @media (min-width: 800px) {
    flex-flow: row;
    justify-content: space-between;
    align-items: center;
  }

  &__img {
    width: 100%;
    margin-bottom: 60px;
    max-width: 450px;

    @media (min-width: 800px) {
      margin-bottom: 0;
      flex: 1;
    }
  }

  .features {
    text-align: center;
    max-width: 420px;

    @media (min-width: 800px) {
      text-align: left;
      margin-left: 60px;
    }

    &__col {
      margin-top: 40px;
    }
    &__title {
      font-size: 20px;
      margin-bottom: 10px;
    }
    &__description {
      font-size: 15px;
      color: $ntrl-gray-blue;
      line-height: 1.7;
    }
  }
}

// trial card
.trial {
  margin: 100px auto;
  width: 90%;
  max-width: 600px;
  padding: 50px 20px;
  text-align: center;
  background: white;
  box-shadow: 0 3px 40px rgba(0, 0, 0, 0.1);
  border-radius: 4px;

  @media (min-width: 768px) {
    padding: 60px 50px;
  }

  &__title {
    font-size: 20px;
    margin-bottom: 10px;

    @media (min-width: 768px) {
      font-size: 26px;
    }
  }
  &__description {
    color: $ntrl-gray-blue;
    font-size: 14px;
    margin-bottom: 20px;

    @media (min-width: 768px) {
      font-size: 16px;
    }
  }

  &__cta {
    @include btn;

    box-shadow: none;
    border-radius: 0;
  }
}
