@import "./variables";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: inherit;
}

body {
  background: $ntrl-blue;
  font-family: "Open Sans", "sans-serif";
  color: $ntrl-dark-cyan;
  line-height: 1.5;
  overflow-x: hidden;
  font-size: 18px;
}

button {
  cursor: pointer;
}

a {
  text-decoration: none;
  color: inherit;
}

h1,
h2,
h3 {
  font-family: "Poppins", "Open Sans", "sans-serif";
}

/* #header-background */
.header-bg {
  position: absolute;
  width: 100%;
  top: 0;
  height: 100%;
  z-index: -1;

  &__colorful {
    width: 200%;
    height: 200%;
    background: linear-gradient(to right, #e252d2, #fe6fac);
    position: relative;
    z-index: -1;
    transform: rotate(-22deg) translate(60%);
    border-radius: 90px;

    @media only screen and (min-width: 500px) {
      transform: rotate(-35deg) translate(60%, -3%);
    }

    @media only screen and (min-width: 1000px) {
      transform: rotate(-35deg) translate(43%, -15%);
    }
  }

  &__white {
  }
}

/* #endheader-background */

// header
.header {
  max-width: 1200px;
  padding: 25px 0;
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: 0 auto;
  align-items: center;

  @media only screen and (min-width: 800px) {
    margin: 20px auto;
  }

  &__brand {
    width: 120px;

    @media only screen and (min-width: 800px) {
      width: 170px;
    }
  }
  &__cta {
    border: 0;
    font-size: 12px;
    font-weight: 600;
    background: white;
    box-shadow: 0 3px 17px -5px rgba(0, 0, 0, 0.1);
    color: $color1;
    padding: 5px 20px;
    border-radius: 4px;

    @include big {
      padding: 10px 40px;
      box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
      border-radius: 2px;
    }
  }
}

// masthead
.masthead {
  width: 80%;
  max-width: 650px;
  margin: 0 auto;
  text-align: center;
  margin-top: 40px;
  margin-bottom: 200px;

  @media only screen and (min-width: 800px) {
    margin-top: 100px;
  }

  &__img {
    width: 100%;
    margin-bottom: 20px;

    @media only screen and (min-width: 800px) {
      margin-bottom: 50px;
    }
  }

  &__content {
    &-title {
      margin-bottom: 25px;
      font-size: 26px;
    }
    &-description {
      color: $ntrl-gray-blue;
      font-size: 16px;
      margin-bottom: 25px;
    }
    &-cta {
      @include btn;
    }

    @media only screen and (min-width: 800px) {
      &-title {
        font-size: 30px;
      }
      &-description {
        font-size: 18px;
      }
    }
  }
}

// features
.users {
  max-width: 1200px;
  display: flex;
  flex-flow: column;
  width: 90%;
  margin: 0 auto;
  align-items: center;

  @media (min-width: 800px) {
    flex-flow: row;
    justify-content: space-between;
    align-items: center;
  }

  &__img {
    width: 100%;
    margin-bottom: 60px;
    max-width: 450px;

    @media (min-width: 800px) {
      margin-bottom: 0;
      flex: 1;
    }
  }

  .features {
    text-align: center;
    max-width: 420px;

    @media (min-width: 800px) {
      text-align: left;
      margin-left: 60px;
    }

    &__col {
      margin-top: 40px;
    }
    &__title {
      font-size: 20px;
      margin-bottom: 10px;
      @media only screen and (min-width: 800px) {
        font-size: 22px;
      }
    }
    &__description {
      font-size: 16px;
      color: $ntrl-gray-blue;
      line-height: 1.7;
    }
  }
}

// trial card
.trial {
  margin: 200px auto;
  width: 90%;
  max-width: 600px;
  padding: 50px 20px;
  text-align: center;
  background: white;
  box-shadow: 0 3px 40px rgba(0, 0, 0, 0.1);
  border-radius: 4px;

  @media (min-width: 768px) {
    padding: 60px 50px;
  }

  &__title {
    font-size: 20px;
    margin-bottom: 10px;

    @media (min-width: 768px) {
      font-size: 26px;
    }
  }
  &__description {
    color: $ntrl-gray-blue;
    font-size: 14px;
    margin-bottom: 20px;

    @media (min-width: 768px) {
      font-size: 16px;
    }
  }

  &__cta {
    @include btn;

    box-shadow: none;
    border-radius: 0;
  }
}

// top level footer element
.footer {
  background: $ntrl-dark-cyan;
  color: $ntrl-blue;

  .container {
    width: 86%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 10px 0;

    @media only screen and (min-width: 800px) {
      padding-bottom: 100px;
    }
  }

  &__logo {
    margin: 60px auto;
    width: 160px;
    display: block;

    @media (min-width: 800px) {
      margin: 60px 0 25px 0;
    }
  }

  &__items {
    display: flex;
    flex-flow: column wrap;

    @media (min-width: 800px) {
      flex-flow: row wrap;
      align-items: flex-start;
      justify-content: space-between;
    }
  }

  &__item {
    display: flex;
    flex-direction: column;
    box-sizing: content-box;
    &:not(:last-child) {
      margin-bottom: 60px;
    }
  }

  &__links {
    text-align: left;
    display: flex;
    flex-flow: column;
    margin-top: -10px;

    a {
      padding: 10px 0;
    }

    &:first-child {
      margin-bottom: 0;
    }
  }
}

// newsletter input / form
.newsletter {
  max-width: 600px;
  text-align: center;
  margin: 0 auto;

  @media (min-width: 800px) {
    margin: 0;
    max-width: 380px;
    text-align: left;
  }

  & > *:not(:last-child) {
    margin-bottom: 15px;
  }

  &__title {
    text-transform: uppercase;
    font-weight: 600;
  }

  &__description {
    font-size: 14px;
  }

  &__input {
    padding: 14px;
    border: 0;
    border-radius: 2px;
  }

  &__submit {
    @include btn;
    box-shadow: none;
    padding: 14px 30px;

    @media (min-width: 800px) {
      align-self: flex-end;
    }
  }
}

// the legal section : the social icons and the trademark
.footer__legal {
  text-align: center;

  @media only screen and (min-width: 800px) {
    text-align: left;
    order: -1;
  }
}

.footer__social-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 25px;

  @media (min-width: 800px) {
    justify-content: initial;
  }

  .fab {
    font-size: 26px;
    margin-right: 20px;

    @media (min-width: 800px) {
      font-size: 33px;
    }
  }
}

.footer__copywrite {
  font-size: 12px;

  @media (min-width: 800px) {
    font-size: 14px;
  }
}
